<form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value)"
      fxFlex="100" fxFlex.gt-sm="80rem">

  <mat-card>

    <div *ngIf="editMode" class="pull-right">
      <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button type="button" (click)="delete()" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>

    <h2 class="mat-h2">Edit Keyword</h2>

    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="start stretch" class="form-content">

        <mat-form-field class="full-width">
          <input matInput placeholder="Name" formControlName="name" type="text">
          <mat-error>Name is required.</mat-error>
        </mat-form-field>


        <!--<div formArrayName="synonyms">-->
        <!--<mat-form-field floatPlaceholder="never" class="full-width" *ngFor="let synonym of synonyms.controls; let i=index">-->
        <!--<input matInput placeholder="Synonym" [formControlName]="i" type="text">-->
        <!--</mat-form-field>-->
        <!--</div>-->

        <mat-form-field>
          <input matInput placeholder="Hits" formControlName="weight" type="number">
          <mat-error>Weight is required.</mat-error>
        </mat-form-field>

        <!--<mat-form-field class="full-width">-->
        <!--<input matInput placeholder="Add Synonym..."-->
        <!--[matChipInputFor]="synonymsList"-->
        <!--[matChipInputAddOnBlur]="false"-->
        <!--(matChipInputTokenEnd)="addSynonym($event)"/>-->
        <!--</mat-form-field>-->

        <!--<div class="ilr-well">-->
        <!--<mat-chip-list matPrefix #synonymsList>-->
        <!--<mat-chip *ngFor="let synonym of keyword.synonyms; let i=index"-->
        <!--color="primary" [selectable]="false"-->
        <!--[removable]="true" (remove)="removeSynonym(i)">-->
        <!--{{synonym}}-->
        <!--<mat-icon matChipRemove>cancel</mat-icon>-->
        <!--</mat-chip>-->
        <!--</mat-chip-list>-->
        <!--<div class="mat-body-2 text-center" *ngIf="!keyword.synonyms.length">No Synonyms</div>-->
        <!--</div>-->

        <!--<mat-checkbox-->
        <!--color="primary"-->
        <!--formControlName="approved">-->
        <!--Approved-->
        <!--</mat-checkbox>-->
      </div>

    </mat-card-content>

    <mat-card-footer class="form-card-footer">
      <button type="button" mat-button class="text-upper" (click)="cancel()">Cancel</button>
      <button type="submit" mat-button [disabled]="!form.valid || form.pristine" class="text-upper" color="primary">Save</button>
    </mat-card-footer>


  </mat-card>
</form>
