<div class="container" fxLayoutAlign="center center">
  <div class="content" fxFlex="63rem" fxLayout="column">
    <ng-template #elseBlock>
      <div class="text-center mat-body-1">Drop files here</div>
    </ng-template>

    <div class="card">

      <div class="album album-logo" fxLayout="row">
        <div class="album-label">
          <p class="mat-body-2 label">logo</p>
          <p class="mat-caption sub-label">Upload a image of your business' logo (max. 1).</p>
        </div>

        <div class="album-photos" fxFlex>
          <h2 class="mat-title text-center text-upper" fxHide.gt-sm>logo</h2>
          <ilr-drag-drop-zone id="logo"
                              [images]="getLogo()"
                              [folder]="business.slug"
                              [tags]="[business.slug, user.id, 'logo']"
                              (onFileUploaded)="saveLogoImage($event)">
          </ilr-drag-drop-zone>
        </div>
      </div>

      <div class="album album-cover border-top" fxLayout="row">
        <div class="album-label">
          <p class="mat-body-2 label">cover photo</p>
          <p class="mat-caption sub-label">Upload a image of your business profile cover photo  (max. 1).</p>
        </div>

        <div class="album-photos" fxFlex>
          <h2 class="mat-title text-center text-upper" fxHide.gt-sm>cover photo</h2>
          <ilr-drag-drop-zone id="cover"
                              [images]="getCover()"
                              [folder]="business.slug"
                              [tags]="[business.slug, user.id, 'cover']"
                              (onFileUploaded)="saveCoverImage($event)">
          </ilr-drag-drop-zone>
        </div>
      </div>

      <div class="album album-gallery border-top" fxLayout="row">
        <div class="album-label">
          <p class="mat-body-2 label">gallery</p>
          <p class="mat-caption sub-label">Upload images that showcases your best work.</p>
        </div>

        <div class="album-photos" fxFlex>
          <h2 class="mat-title text-center text-upper" fxHide.gt-sm>gallery</h2>
          <ilr-drag-drop-zone id="gallery"
                              [images]="getGallery()"
                              [folder]="business.slug"
                              [tags]="[business.slug, user.id, 'gallery']"
                              (onFileUploaded)="saveGalleryImages($event)">
          </ilr-drag-drop-zone>

        </div>
      </div>
    </div>
  </div>
</div>
