@import "../../../../colors";

:host {

  .album {
    padding: 1.5rem;

    .album-label {
      text-align: right;
      max-width: 200px;

      .label {
        text-transform: uppercase;
      }

      .sub-label {
        color: rgba(0,0,0,.54);
      }
    }

    .album-photos {

      .photo-drop-zone {
        border-radius: 2px;
        background-color: rgba(0,0,0,.54);
        color: #fff;
        box-sizing: border-box;
        width: 112px;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;

        &.file-over {
          color: rgba(0,0,0,.87);
          background-color: rgba(0,0,0,.12);
          border: 2px dashed $primary-color-500;
        }

        .upload-button {
          display: block;
          border: none;
          outline: none;
          cursor: pointer;

          input[type=file] {
            display: none;
          }
        }
      }

      .preview {

        .photo {
          opacity: 0.54;
        }
      }

      .photo {
        width: 112px;
        height: 112px;
      }
    }
  }

  .drop-zone {
    color: rgba(0, 0, 0, 0.32);
    border: 2px dashed rgba(0, 0, 0, 0.32);
    border-radius: 4px;
    padding: 16px;
    margin: 24px;

    &.file-over {
      border-color: $primary-color-500;
    }

    .upload-button {
      display: inline-block;
      border: none;
      outline: none;
      cursor: pointer;
      color: $accent-color;

      input[type=file] {
        display: none;
      }
    }

    .preview {
      margin: 4px 0;

      img {
        width: 48px;
        height: 48px;
      }
    }
  }

  .gallery {

    .img-holder {
      background-color: #f5f5f5;
      border-radius: 2px;
      border: 1px solid $divider-color;

      &.add-image {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        flex-direction: column;
        cursor: pointer;
      }

      .photo {

      }
    }


  }


  //.albums {
  //  .album {
  //    display: flex;
  //    flex: 1;
  //    flex-direction: row;
  //
  //    .album-label {
  //    }
  //
  //
  //
  //  }
  //}
}
