@import "../../../../colors";
@import "../../../../media-breakpoints";

:host {
  display: flex;
  flex-direction: row;
  place-content: flex-start center;
  align-items: flex-start;

  form {

    @media(min-width: $xs) {
      margin: 16px;
    }

    .mat-expansion-panel-header-title {
      align-items: center;

      .title {
        margin-left: 1rem;
      }
    }

    .location-map {
      height: 300px;
    }

    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
      flex-basis: 0;
    }

    .mat-expansion-panel-header-description {
      align-items: center;
    }
  }

}
