<div class="container" fxLayoutAlign="center center">
  <div class="content" fxFlex.gt-xs="48rem" fxLayout="row" fxLayoutAlign="center start">

    <div class="card full-width mat-elevation-z1">

      <mat-nav-list class="list">

        <mat-list-item class="list-item" (click)="openDialog('name')">
          <div fxLayout="row" class="list-row">
            <mat-icon class="list-icon" color="primary" fxHide.gt-xs>business</mat-icon>
            <div class="list-title">Business name</div>
            <div class="list-value">{{business.name}}</div>
          </div>
          <mat-icon class="list-icon-edit">edit</mat-icon>

        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item class="list-item auto-height" (click)="openDialog('address')">
          <div fxLayout="row" class="list-row">
            <mat-icon class="list-icon" color="primary" fxHide.gt-xs>location_on</mat-icon>
            <div class="list-title">Address</div>
            <div class="list-value" fxLayout="column">
              <div class="list-value-line">{{business.address?.street}}{{(business.address?.city) ? ', ' + business.address?.city : '' }}</div>
              <div class="list-value-line">{{(business.address?.territory && business.address?.territory !== business.address?.city) ? business.address?.territory + ', ' : ''}}{{business.address?.country.name}}, {{business.address?.zip}}</div>
              <img *ngIf="!!staticMapUrl" [src]="staticMapUrl" class="full-width">
            </div>
          </div>
          <mat-icon class="list-icon-edit">edit</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item class="list-item auto-height" (click)="openDialog('contact')">
          <div fxLayout="row" class="list-row">
            <mat-icon class="list-icon" color="primary" fxHide.gt-xs>contacts</mat-icon>
            <div class="list-title">Contact</div>
            <div class="list-value" fxLayout="column" fxLayoutGap="1rem">
              <div *ngIf="!!business.phone" fxLayout="row" fxLayoutGap.xs="0.1rem" fxLayoutGap.gt-xs="1rem">
                <div class="list-label">Phone:</div>
                <div>{{business.phone}}</div>
              </div>
              <div *ngIf="!!business.email" fxLayout="row" fxLayoutGap.xs="0.1rem" fxLayoutGap.gt-xs="1rem">
                <div class="list-label">Email:</div>
                <div>{{business.email}}</div>
              </div>
              <div fxLayout="row" fxLayoutGap.xs="0.1rem" fxLayoutGap.gt-xs="1rem">
                <div class="list-label">Web:</div>
                <div fxLayout="column" fxLayoutGap="8px">
                  <div *ngIf="!!business.website">{{business.website}}</div>
                  <div *ngFor="let social of business.social">
                    {{social}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <mat-icon class="list-icon-edit">edit</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>

        <!--<mat-list-item class="list-item" (click)="openDialog('email')">
          <div fxLayout="row" class="list-row">
            <mat-icon class="list-icon" color="primary" fxHide.gt-xs>email</mat-icon>
            <div class="list-title">Email</div>
            <div class="list-value">{{business.email}}</div>
          </div>
          <mat-icon class="list-icon-edit">edit</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>-->

        <mat-list-item class="list-item" [class.auto-height]="business.services?.length>1" (click)="openDialog('services')">
          <div fxLayout="row" class="list-row">
            <mat-icon class="list-icon" color="primary" fxHide.gt-xs>work</mat-icon>
            <div class="list-title">Services</div>
            <div class="list-value" fxLayout="column">
              <div *ngFor="let service of business.services" class="text-caps" class="list-value-line">
                {{service}}
              </div>
            </div>
          </div>
          <mat-icon class="list-icon-edit">edit</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>

        <!--<mat-list-item class="list-item" [class.auto-height]="business.social?.length>0" (click)="openDialog('social')">
          <div fxLayout="row" class="list-row">
            <mat-icon class="list-icon" color="primary" fxHide.gt-xs>public</mat-icon>
            <div class="list-title">Website</div>
            <div class="list-value" fxLayout="column">
              <div class="list-value-line">{{business.website}}</div>
              <div *ngFor="let social of business.social" class="list-value-line">
                {{social}}
              </div>
            </div>
          </div>
          <mat-icon class="list-icon-edit">edit</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>-->

        <mat-list-item class="list-item auto-height" (click)="openDialog('hours')">
          <div fxLayout="row" class="list-row">
            <mat-icon class="list-icon" color="primary" fxHide.gt-xs>access_time</mat-icon>
            <div class="list-title">Opening Hours</div>
            <div class="list-value" fxLayout="column" fxLayoutGap="4px">
              <div fxLayout="row">
                <div class="list-label text-upper">Sun:&nbsp;</div>
                <div fxLayout="column" *ngIf="business.openingHours.sunday?.length;else closed">
                  <div class="list-value-line" *ngFor="let hour of business.openingHours.sunday">
                    {{hour.opens}} - {{hour.closes}}
                  </div>
                </div>
              </div>
              <div fxLayout="row">
                <div class="list-label text-upper">Mon:&nbsp;</div>
                <div fxLayout="column" *ngIf="business.openingHours.monday?.length;else closed">
                  <div class="list-value-line" *ngFor="let hour of business.openingHours.monday">
                    {{hour.opens }} - {{hour.closes}}
                  </div>
                </div>
              </div>
              <div fxLayout="row">
                <div class="list-label text-upper">Tue:&nbsp;</div>
                <div fxLayout="column" *ngIf="business.openingHours.tuesday?.length;else closed">
                  <div class="list-value-line" *ngFor="let hour of business.openingHours.tuesday">
                    {{hour.opens}} - {{hour.closes}}
                  </div>
                </div>
              </div>
              <div fxLayout="row">
                <div class="list-label text-upper">Wed:&nbsp;</div>
                <div fxLayout="column" *ngIf="business.openingHours.wednesday?.length;else closed">
                  <div class="list-value-line" *ngFor="let hour of business.openingHours.wednesday">
                    {{hour.opens}} - {{hour.closes}}
                  </div>
                </div>
              </div>
              <div fxLayout="row">
                <div class="list-label text-upper">Thu:&nbsp;</div>
                <div fxLayout="column" *ngIf="business.openingHours.thursday?.length;else closed">
                  <div class="list-value-line" *ngFor="let hour of business.openingHours.thursday">
                    {{hour.opens}} - {{hour.closes}}
                  </div>
                </div>
              </div>
              <div fxLayout="row">
                <div class="list-label text-upper">Fri:&nbsp;</div>
                <div fxLayout="column" *ngIf="business.openingHours.friday?.length;else closed">
                  <div class="list-value-line" *ngFor="let hour of business.openingHours.friday">
                    {{hour.opens}} - {{hour.closes}}
                  </div>
                </div>
              </div>
              <div fxLayout="row">
                <div class="list-label text-upper">Sat:&nbsp;</div>
                <div fxLayout="column" *ngIf="business.openingHours.saturday?.length;else closed">
                  <div class="list-value-line" *ngFor="let hour of business.openingHours.saturday">
                    {{hour.opens}} - {{hour.closes}}
                  </div>
                </div>
              </div>
              <ng-template #closed>Closed</ng-template>
            </div>
          </div>
          <mat-icon class="list-icon-edit">edit</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item class="list-item" (click)="openDialog('description')">
          <div fxLayout="row" class="list-row">
            <mat-icon class="list-icon" color="primary" fxHide.gt-xs>description</mat-icon>
            <div class="list-title">Description</div>
            <div class="list-value">{{business.description}}</div>
          </div>
          <mat-icon class="list-icon-edit">edit</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>

      </mat-nav-list>

    </div>
  </div>

</div>
