<form novalidate [formGroup]="form" (ngSubmit)="save(form.value)" fxFlex fxFlex.gt-sm="40rem">

  <mat-card>
    <div *ngIf="editMode" class="pull-right">
      <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button type="button" (click)="delete()" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>

    <h2 class="mat-h2">Edit Theme</h2>

    <mat-card-content>


      <div fxLayout="column" fxLayoutAlign="start stretch">

        <mat-form-field class="full-width">
          <input matInput placeholder="Name" formControlName="name" type="text">
          <mat-error>Name is required.</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-select placeholder="Countries" formControlName="country" multiple>
            <mat-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-select placeholder="Topics" formControlName="topics" multiple>
            <mat-option *ngFor="let topic of topics" [value]="topic.id">{{topic.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput [min]="startDateMinDate" [matDatepicker]="startDatepicker" formControlName="startDate" placeholder="Theme start date">
          <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput [min]="startDate" [matDatepicker]="endDatepicker" formControlName="endDate" placeholder="Theme end date">
          <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatepicker></mat-datepicker>
        </mat-form-field>

      </div>

    </mat-card-content>

    <mat-card-footer class="form-card-footer">
      <button type="button" mat-button class="text-upper" (click)="cancel()">Cancel</button>
      <button type="submit" mat-button [disabled]="!form.valid || form.pristine" class="text-upper" color="primary">Save</button>
    </mat-card-footer>

  </mat-card>
</form>
