@import '../../../media-breakpoints';
:host {

  //.user-box {
  //  position: relative;

    .user-verified {
      position: absolute;
      right: 28px;
      bottom: 0;
    }
  //}

    .avatar {
      vertical-align: middle;
      text-align: right;
      padding: 3px 0;

      .avatar-icon {
        height: 36px;
        width: 36px;
        border-radius: 50%;

        @media(max-width: $sm) {
          margin-right: 0;
        }
      }

      .user-name {
        text-transform: capitalize;
        margin-left: 15px;
      }
  }
}


//a {
//  text-decoration: none;
//  margin-left: 4px;
//  .user-avatar {
//    color: rgb(255, 255, 255);
//    background-color: rgb(188, 188, 188);
//    user-select: none;
//    font-size: 20px;
//    border-radius: 50%;
//    height: 36px;
//    width: 36px;
//    vertical-align: middle;
//
//    &.user-avatar-sm {
//      font-size: 15px;
//      height: 30px;
//      width: 30px;
//    }
//  }
//}
