<a *ngIf="!auth.isAuthenticated()" mat-button class="text-upper" routerLink="/login">sign in</a>
<a *ngIf="!auth.isAuthenticated()" mat-raised-button color="accent" class="text-upper" routerLink="/signup">sign up</a>

<button class="avatar" mat-icon-button [matMenuTriggerFor]="mdUserMenu" *ngIf="auth.isAuthenticated()">
  <ngx-avatar name="{{user.nickname}}" style="display: inline-block;"
              size="40" [round]="true">
  </ngx-avatar>
  <!--<div fxHide.xs style="display: inline-block;">-->
    <!--<span class="user-name mat-subheading-2">{{user.firstname}}</span>-->
    <!--<mat-icon class="align-middle" >arrow_drop_down</mat-icon>-->
  <!--</div>-->
</button>


<mat-menu #mdUserMenu="matMenu" [overlapTrigger]="true">
  <a *ngIf="auth.isAdmin()" mat-menu-item routerLink="/admin">Admin</a>
  <a mat-menu-item routerLink="/user/profile">Profile</a>
  <a mat-menu-item routerLink="/user/account">Account Settings</a>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="auth.logout()">Signout</button>
</mat-menu>

