<div class="container">
  <ilr-navbar-search></ilr-navbar-search>

  <div class="content" infiniteScroll [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       (scrolled)="onScroll()"
       [scrollWindow]="false" fxLayout="row" fxLayoutAlign="center start">

    <div class="section" fxLayout="column" fxFlex fxFlex.md="63rem" fxFlex.gt-md="80rem">

      <div class="filters">
      </div>

      <div class="results" fxLayout="row" fxLayoutAlign="space-between start" *ngIf="businesses && businesses.length > 0">

        <div class="data" fxFlex fxLayout="row">
           <div class="card full-width">
             <ilr-business-tile *ngFor="let business of businesses" [business]="business"></ilr-business-tile>
          </div>

        </div>

        <ilr-business-map
          class="map" *ngIf="!!latitude && !!longitude"
          fxFlex.md="320px"
          fxFlex.gt-md="452px"
          fxHide.lt-md
          [latitude]="latitude"
          [longitude]="longitude"
          [businesses]="businesses">
        </ilr-business-map>

      </div>

      <div *ngIf="businesses && businesses.length === 0">
        <mat-card fxFlex.gt-sm>
          <div fxLayout="column" fxLayoutAlign="center center" class="empty-state mat-typography">
            <mat-icon>store</mat-icon>
            <h2>No businesses</h2>
            <h3 class="text-center">No results found for <span style="font-weight: 500;"><i>{{searchTerm}}</i></span> in {{ country?.name }}</h3>
          </div>
        </mat-card>
      </div>

    </div>
  </div>
</div>



    <!--<div class="filters">
      <div class="filter-group open">
        <div class="filter-content">
          <h4 class="title mat-subheading-2">Filters</h4>
        </div>
      </div>

      <div class="filter-group" [ngClass]="{'open': showServices}">
        <div class="filter-content">
          <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
            Services
            <button type="button" mat-icon-button (click)="showServices = !showServices">
              <mat-icon>{{showServices ? 'remove' : 'add'}}</mat-icon>
            </button>
          </div>

          <div [tdToggle]="!showServices">

            <mat-selection-list class="services" dense (selectionChange)="filter($event)">
              <mat-list-option *ngFor="let service of filteredServices | slice:0:5; let i = index;" [value]="service._id">
                <div class="item">{{service._id}}<span class="count"> ({{service.count}})</span></div>
              </mat-list-option>
            </mat-selection-list>
            <a class="mat-caption" style="color: #00BCD4;"><i>Show more...</i></a>
          </div>
        </div>

      </div>
    </div>-->


  <!--</div>-->
