<div fxLayout="column">
  <ilr-navbar-business></ilr-navbar-business>

  <div fxLayout="column" fxLayout.gt-xs="row">

    <div class="filters" fxFlex fxFlex.gt-xs="320px">

    </div>

    <div class="results" fxFlex>
      <h3 class="mat-subheading-2">Showing <span class="">6</span> businesses in {{ country?.name }}</h3>

      <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="1rem" fxLayoutWrap>
        <ilr-business-card *ngFor="let business of businesses"
           [business]="business" (onCardSelected)="onBusinessSelected(business)">
        </ilr-business-card>
      </div>
    </div>
  </div>
</div>
