@import "../../../media-breakpoints";
:host {
  .mat-toolbar {
    position: relative;
    z-index: 4;
  }

  .tab-nav {
    z-index: 3;
  }

  .mat-toolbar, .tab-nav {
    background-color: rgb(250,250,250);
    border-bottom: none;

    @media (min-width: $gt-sm) {
      background-color: #fff;
    }
  }


}
