<div fxLayout="column">

  <!--<ilr-navbar-base></ilr-navbar-base>-->

  <nav mat-tab-nav-bar backgroundColor="primary" [ngClass.xs]="['text-center']" class="mat-elevation-z1">
    <a mat-tab-link class="text-upper"
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [routerLinkActiveOptions]= "link.options"
       [active]="rla.isActive">
        <mat-icon fxHide.gt-xs>{{link.icon}}</mat-icon>
        <span fxHide.xs>{{link.label}}</span>
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>
