<div class="cover"></div>

<div class="card-wrapper">

  <div fxLayout="row" fxLayoutAlign="center start">

    <form novalidate fxFlex="100" fxFlex.gt-sm="40rem" [formGroup]="form">

      <mat-card>

        <div fxLayout="column" fxLayoutAlign="start stretch">

          <div fxLayout="row" fxLayoutGap="1rem">
            <div fxHide.lt.md>
              <div class="biz-avatar-wrapper">
                <div class="biz-avatar-overlay" ilrImageUpload>
                  <mat-icon>photo_camera</mat-icon>
                </div>
              </div>

            </div>
            <div fxFlex>
              <mat-form-field class="full-width">
                <input matInput type="text" id="name" formControlName="name" placeholder="Business Name">
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput type="text" id="slug" formControlName="slug" placeholder="Slug">
              </mat-form-field>
            </div>
          </div>

          <div class="field-row" fxLayout="row" fxLayoutGap="1rem">
            <mat-icon class="field-icon">location_on</mat-icon>

            <div formGroupName="address" fxFlex fxLayout="column">

              <div formGroupName="country">
                <mat-form-field class="full-width">
                  <mat-select id="country" placeholder="Country" formControlName="code" (change)="countryChanged($event)">
                    <mat-option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <mat-form-field class="full-width" *ngIf="territories.length">
                <mat-select id="territory" placeholder="Territory" formControlName="territory">
                  <mat-option *ngFor="let territory of territories" [value]="territory">{{ territory }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput type="text" id="street" formControlName="street" placeholder="Street Address">
              </mat-form-field>

              <div class="full-width" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center" fxLayoutGap.gt-xs="1rem">
                <mat-form-field fxFlex>
                  <input matInput type="text" id="city" formControlName="city" placeholder="City">
                </mat-form-field>

                <mat-form-field *ngIf="hasZip">
                  <input matInput type="text" id="zip" formControlName="zip" placeholder="Zip Code">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="field-row align-center" fxLayout="row" fxLayoutGap="1rem">
            <mat-icon class="field-icon">phone</mat-icon>

            <mat-form-field fxFlex>
              <input matInput type="tel" id="phone" formControlName="phone" placeholder="Phone">
            </mat-form-field>
          </div>

          <div class="field-row align-center" fxLayout="row" fxLayoutGap="1rem">
            <mat-icon class="field-icon">email</mat-icon>

            <mat-form-field fxFlex>
              <input matInput type="email" id="email" formControlName="email" placeholder="Email">
            </mat-form-field>
          </div>

          <div class="field-row" fxLayout="row" fxLayoutGap="1rem">
            <mat-icon class="field-icon">work</mat-icon>

            <mat-form-field class="full-width">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let service of business.services" [selectable]="selectable"
                        [removable]="removable" (remove)="removeService(service)">
                  {{service.name}}
                  <mat-icon class="align-middle" matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Services" #serviceAutocompleteInput
                       (keyup)="searchServices(serviceAutocompleteInput.value)"
                       [matAutocomplete]="servicesAutocomplete"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="addService($event)" />
              </mat-chip-list>
              <mat-autocomplete #servicesAutocomplete="matAutocomplete">
                <mat-option *ngFor="let service of searchedServices | async" [value]="service.name">
                  {{ service.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <!--<a class="mat-caption more-info-trigger text-caps" *ngIf="showMoreInfo" (click)="showMoreInfo = !showMoreInfo">Additional Information +</a>-->

        </div>
        <div class="more-info" fxLayout="column" fxLayoutAlign="start stretch">

          <div class="field-row" [class.align-center]="business.social.length === 0" fxLayout="row" fxLayoutGap="1rem">
            <mat-icon class="field-icon">public</mat-icon>

            <div fxFlex fxLayout="column">
              <mat-form-field class="full-width">
                <input matInput type="url" id="website" formControlName="website" placeholder="Website">
              </mat-form-field>

              <div formArrayName="social">
                <mat-form-field class="full-width" *ngFor="let url of social.controls; let i=index;">
                  <input matInput type="url" pattern="https?://.+" id="social{{i}}" [formControlName]="i" placeholder="">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="field-row align-center" fxLayout="row" fxLayoutGap="1rem">
            <mat-icon class="field-icon">description</mat-icon>

            <mat-form-field fxFlex>
              <textarea matInput maxlength="300" placeholder="Description" matTextareaAutosize matAutosizeMinRows="2"
                      matAutosizeMaxRows="5" id="description" formControlName="description"></textarea>
              <mat-hint align="end">{{description.value.length}} / 300</mat-hint>
              <mat-error *ngIf="description.errors?.maxlength">
                Description must not exceed 300 characters.
              </mat-error>
            </mat-form-field>
          </div>

        </div>


        <mat-card-actions align="end">
          <button type="button" mat-button class="text-upper" (click)="cancel()">Cancel</button>
          <button type="submit" mat-button [disabled]="!form.valid || form.pristine" class="text-upper" color="primary">Save</button>
        </mat-card-actions>

      </mat-card>

    </form>

  </div>



</div>
