<div fxLayout="column">
  <div class="md-content push-top-xxl">
    <h2 *ngIf="!tokenIsValid" class="md-title text-center">Reset your password</h2>
    <h2 *ngIf="tokenIsValid" class="md-title text-center">Change password for {{user?.email}}</h2>
    <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center start">
      <div fxFlex="100" fxFlex.gt-xs="25rem">
        <mat-card class="mat-elevation-z2">
          <mat-card-content>
            <div *ngIf="!!errorMessage" class="alert alert-danger" role="alert">
              {{errorMessage}}
            </div>
            <div *ngIf="!successMessage">
              <form novalidate autocomplete="off" [formGroup]="passwordResetEmailForm" (ngSubmit)="sentEmail(passwordResetEmailForm.value)" *ngIf="!tokenIsValid" fxLayout="column" fxLayoutGap="18px">
                <h3 class="md-subhead">Enter your email address and we will send you a link to reset your password.</h3>
                <mat-form-field fxFlex="100">
                  <input matInput placeholder="Email" type="text" formControlName="email">
                  <mat-hint>Enter your email address</mat-hint>
                  <mat-error>Please enter a valid email address.</mat-error>
                </mat-form-field>
                <button fxFlex="100" mat-raised-button color="primary" [disabled]="passwordResetEmailForm.invalid" type="submit">Send password reset email</button>
              </form>

              <form novalidate autocomplete="off" (ngSubmit)="changePassword(changePasswordForm.value)" [formGroup]="changePasswordForm" *ngIf="tokenIsValid" fxLayout="column" fxLayoutGap="18px">
                <p class="md-body-1">Password must contain one uppercase letter, one number, and be at least six characters long.</p>
                <mat-form-field fxFlex="100">
                  <input matInput formControlName="password" placeholder="Password" type="password" tdAutoTrim>
                  <mat-hint>Enter your new password</mat-hint>
                  <mat-error *ngIf="changePasswordForm.get('password').errors?.pattern">Use at least 6 characters. Include both an uppercase letter and a number.</mat-error>
                  <mat-error *ngIf="changePasswordForm.get('password').errors?.required">This field is required</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100">
                  <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password" tdAutoTrim>
                  <mat-hint>Confirm new password</mat-hint>
                  <mat-error *ngIf="changePasswordForm.get('confirmPassword').errors?.required">This field is required</mat-error>
                  <mat-error *ngIf="changePasswordForm.get('confirmPassword').errors?.pattern">Use at least 6 characters. Include both an uppercase letter and a number.</mat-error>
                </mat-form-field>

                <p [style.visibility]="changePasswordForm.errors?.match ? 'visible' : 'hidden'" class="md-caption tc-red-500 text-center push-none">Password doesn't match the confirmation</p>
                <button fxFlex="100" mat-raised-button color="primary" [disabled]="!changePasswordForm.valid" type="submit">Change password</button>
              </form>
            </div>

            <div fxLayout="column" *ngIf="!!successMessage">
              <p class="md-body-1">{{successMessage}}</p>
              <a fxFlex="100" mat-raised-button color="primary" routerLink="/login">Return to sign in</a>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
