<!--
<div fxLayout="column">
  <div class="md-content push-top-xxl">
    <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center start">
      <div fxFlex="100" fxFlex.gt-xs="30rem">
        <mat-card class="mat-elevation-z2">
          <mat-card-content>
            <h2 class="md-title">Email Verified</h2>
            <h3 class="md-subhead" *ngIf="!!message">{{message}}</h3>
          </mat-card-content>
          <mat-card-actions align="end">
            <a routerLink="/" mat-button color="primary" class="text-upper">go to app</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
-->
