<div class="card mat-elevation-z1">


    <div class="section" *ngIf="business.description">
      <p class="mat-body-1">{{business.description}}</p>
      <mat-divider></mat-divider>
    </div>

    <div class="section">
      <div class="section-content" fxLayout="column" fxLayout.gt-xs="row">
        <div fxFlex fxFlex.gt-xs="20" class="section-label">
          Contact info
        </div>
        <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">

          <div fxLayout="row" class="section-field">
            <div class="field-label" fxFlex="20">
              Phone
            </div>
            <div class="field-value" fxFlex>
              {{business.phone}}
            </div>
          </div>

          <div fxLayout="row" class="section-field">
            <div class="field-label" fxFlex="20">
              Phone
            </div>
            <div class="field-value" fxFlex>
              {{business.phone}}
            </div>
          </div>

        </div>
      </div>

      <mat-divider></mat-divider>
    </div>

  <div class="section">
    <div class="section-content" fxLayout="column" fxLayout.gt-xs="row">
      <div fxFlex fxFlex.gt-xs="20" class="section-label">
        Opening hours
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">

        <div fxLayout="row" class="section-field">
          <div class="field-label" fxFlex="20">
            Phone
          </div>
          <div class="field-value" fxFlex>
            {{business.phone}}
          </div>
        </div>

        <div fxLayout="row" class="section-field">
          <div class="field-label" fxFlex="20">
            Phone
          </div>
          <div class="field-value" fxFlex>
            {{business.phone}}
          </div>
        </div>

      </div>
    </div>

    <mat-divider></mat-divider>
  </div>


</div>
