@import "../../../../colors";
@import "../../../../media-breakpoints";

:host {
  margin: 1rem;

  .card {


    .section {

      .section-content {
        padding: 2rem 24px;

        .section-field {
          margin-bottom: 12px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
