@import "../../../colors";

:host {

  .cover {
    position: relative;
    height: 250px;
    background-color: $primary-color-500;
  }

  .content {

    .content-actions {
      margin-top: -20px;

      .btn-action {
        background-color: #fff;

        &.active {
          background-color: $accent-color;

          .mat-icon {
            color: #fff;
          }
        }

        .mat-icon {
          color: $accent-color;
        }
      }
    }

    .content-profile {
      margin-top: -60px;

      .profile {

        a.service {
          color: #1E88E5;
          text-decoration: none;
          text-transform: capitalize;
        }

      }

      .profile-contact {

        .row {

          &.row-center {
            align-items: center;
          }

          .mat-icon {
            opacity: 0.54;
          }

          a {
            color: #1E88E5;
            text-decoration: none;
          }
        }
      }
    }

    .content-tab {
      margin-top: -24px;

      .mat-tab-group {

        .tab-label {
          font-size: 12px;
        }

        /deep/ {

          .mat-tab-header {
            border-radius: 2px;
            background-color: #fff;
            -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            border-bottom: none;

            .mat-tab-label {
              height: 56px;

              .mat-icon, .tab-label {
                color: rgba(0,0,0,0.54);
              }
            }

            .mat-tab-label-active {

              .mat-icon, .tab-label {
                color: $accent-color;
              }
            }

          }
        }
      }

    }

  }

}
