@import "../../../colors";
@import "../../../media-breakpoints";

:host {

  .container {
    .header {
      height: 200px;
      position: relative;
      background-color: $primary-color-500;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      //background: linear-gradient(
      //    to bottom,
      //    $primary-color-500,
      //    rgba(0, 0, 0, 0.4));

      .logo-wrapper {
        position: absolute;
        bottom: -1rem;
        left: 1rem;
        z-index: 10;
        border-radius: 5px;
        .logo {


          background-color: #fff;
        }

        .title {
          font-size: 20px;
        }
      }
    }

    .content {
      max-width: 80rem;

      .ads-space {
        width: 200px;
        height: 400px;
        background-color: #ddd;
      }


      .p {
        margin-bottom: 1rem;

        .p-body {
          padding: 1rem 2rem;
          @media (max-width: $sm) {
            padding: 1rem;
          }

          .p-info {



            .services {
              font-size: 13px;
              color: rgba(0,0,0,.87);
              margin-bottom: 8px;
            }

            .phone {
              align-items: center;
              .mat-icon, a {
                color: $text-muted;
              }
              a {
                text-decoration: none;
              }
            }
          }
        }

        .p-actions {
          background-color: #f8f8f8;
          padding: 12px 0;

          .social {
            margin: 0 2rem;
          }

          .actions {
            color: rgba(0,0,0,.54);
            max-width: 564px;

            button, a {
              font-size: 13px;

              .mat-icon {
                margin-right: 4px;
                vertical-align: middle;
              }
            }
          }
        }

        .p-footer {
          width: 100%;
          margin-top: 1rem;
        }
      }
    }

  }
}
