<!--<mat-toolbar class="mat-elevation-z1" color="primary">-->
  <!--<button fxHide.gt-sm mat-icon-button (click)="sidenav.toggle()">-->
    <!--<mat-icon>menu</mat-icon>-->
  <!--</button>-->
  <!--<span fxFlex></span>-->
  <!--<ilr-account-login></ilr-account-login>-->
  <!--&lt;!&ndash;<mat-select class="nav-country" (ngModelChange)="countryChanged($event)" [(ngModel)]="selectedCountry">&ndash;&gt;-->
  <!--&lt;!&ndash;<mat-option *ngFor="let country of countries" [value]="country.code">{{country.code.toUpperCase()}}</mat-option>&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-select>&ndash;&gt;-->
<!--</mat-toolbar>-->

<div class="admin-container" [class.is-mobile]="isMobileView">

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav
      class="sidenav"
      [fixedInViewport]="isMobileView"
      [mode]="isMobileView ? 'over':'side'"
      [opened]="!isMobileView"
      [disableClose]="!isMobileView">

      <div class="banner">
        <a routerLink="/" class="app-logo"><mat-icon  svgIcon="islandir-light"></mat-icon></a>
      </div>
      <mat-divider></mat-divider>


      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" class="list-item" *ngFor="let nav of navLinks"
           [routerLinkActiveOptions]="{ exact: nav.options.exactLink }"
           [routerLink]="nav.link">
          <!--<mat-icon mat-list-icon>{{nav.icon}}</mat-icon>-->
          {{nav.name}}
        </a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <ilr-navbar-admin></ilr-navbar-admin>

      <div class="sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
