@import '../../colors';
@import '../../media-breakpoints';

:host {
  .admin-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .sidenav-container {
      flex: 1;
      background-color: $body-background;

      .sidenav {
        width: 250px;
        background-color: #3c4250;

        @media(max-width: $sm) {
          width: 300px;
        }

        .banner {
          padding: 0 16px;
          height: 64px;
          line-height: 64px;
          background-color: $primary-color;

          @media (max-width: $xs) {
           height: 56px;
            line-height: 56px;
          }
        }

        .mat-nav-list {
          padding-top: 0;

          .list-item {
            color: rgba(255,255,255,.87);
            font-size: 15px;
            font-weight: 400;

            &:hover {
              background: rgba(0, 0, 0, 0.06);
            }

            .mat-icon {
              margin-right: 16px;
            }

            &.active {
              color: $primary-color;
              background-color: $divider-color;
              //border-left: 2px solid $primary-color;


              .mat-icon {
                color: $primary-color;
              }

            }
          }
        }
      }

      //.mat-sidenav-content {
      //  padding: 24px;
      //
      //  @media(max-width: $sm) {
      //    padding: 0;
      //    margin: 0;
      //  }
      //}
    }

    &.is-mobile {

      /deep/ .mat-toolbar {
        position: fixed;
      }

      .sidenav-container {
        flex: 1 0 auto;
        //margin-top: 56px;
      }

      .sidenav-content {
        margin-top: 56px;
      }
    }
  }
}
