:host {

  .ilr-message {
    padding: 0.5rem 1rem;
    align-self:center;

    .message-icon {
      margin-right: 12px;
    }

    &.message-warning {
      background-color: #00838F;

      .message-content, .message-icon {
        color: #fff;
      }
    }


  }

}
