@import '../../colors';

:host {

  .ilr-message {
    padding: 0.4rem 1rem;

    .message-icon {
      margin-right: 12px;
    }

    &.message-warning {
      background-color: $accent-color-light;

      .message-content, .message-icon {
        color: #fff;
      }
    }


  }

}
