@import "../../../colors";

:host {

  .review {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .review-score {
      color: rgba(0, 0, 0, 0.87);

      /deep/ .label-value {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
      }

      /deep/ .star-container {
        margin-left: 0;
      }
    }

    .review-count {
      margin-left: 5px;
      color: $text-muted;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-transform: capitalize;
    }
  }
}
