<div class="container" fxLayoutAlign="center center">
  <div class="content" fxFlex="48rem" fxLayout="row" fxLayoutAlign="center start">

    <div class="mat-typography full-width">

      <div class="drop-zone"
         [ngClass]="{'file-over': dragOver}"
         ngFileDrop [options]="options"
         (uploadOutput)="onUploadOutput($event)"
         [uploadInput]="uploadInput"
         fxLayout="column"
         fxLayoutAlign="center center">

        <h3 class="mat-subheading-2" *ngIf="!files.length">
          Drag photos here or
          <label class="upload-button">
            <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
            browse
          </label>
          to upload.
        </h3>

        <div class="preview" fxLayout="row" fxLayoutGap="16px" fxLayoutWrap>
          <div class="preview-img" *ngFor="let file of files" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="file.form.get('dataUri')">
            <mat-progress-spinner *ngIf="file.progress?.data?.percentage < 100" class="spinner"
                                  color="accent"
                                  mode="determinate"
                                  diameter="25"
                                  strokeWidth="2"
                                  [value]="file.progress?.data?.percentage">
            </mat-progress-spinner>

          </div>
        </div>
      </div>


      <div class="gallery">
        <mat-grid-list cols="4" gutterSize="8px">
          <mat-grid-tile class="img-holder" *ngFor="let photo of business.photos; let index=index;">
            <div class="photo">
              <img [src]="photo.url + '?fit=crop&w=148&h=148'">
            </div>

          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

  </div>
</div>
