<!--
<form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex fxFlex.gt-sm="40rem">

  <mat-card>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon fxHide.gt-sm>close</mat-icon>
      <h2 class="mat-h2" style="margin-bottom: 0;">Edit Service</h2>
      <span fxFlex></span>
      <button fxHide.gt-sm type="submit" mat-button class="text-upper" color="primary">save</button>
      <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button type="button" (click)="delete()" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>

    </div>
    &lt;!&ndash;<div *ngIf="editMode" class="pull-right">
      <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button type="button" (click)="delete()" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>&ndash;&gt;


    &lt;!&ndash;<h2 class="mat-h2">Edit Service</h2>&ndash;&gt;

    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="start stretch" class="form-content">

        <mat-form-field class="full-width">
          <input matInput placeholder="Name" formControlName="name" type="text">
          <mat-error>Name is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select class="full-width" formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category.id">
              <mat-icon svgIcon="{{category.icon}}" class="align-middle"></mat-icon>
               {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </mat-card-content>

    <mat-card-footer class="form-card-footer" fxHide.lt-md>
      <button type="button" mat-button class="text-upper" (click)="cancel()">Cancel</button>
      <button type="submit" mat-button [disabled]="!form.valid || form.pristine" class="text-upper" color="primary">Save</button>
    </mat-card-footer>

  </mat-card>
</form>
-->


<form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex fxFlex.gt-sm="40rem">

  <div class="mat-elevation-z1">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon fxHide.gt-sm>close</mat-icon>
      <h2 class="mat-h2" style="margin-bottom: 0;">Edit Service</h2>
      <span fxFlex></span>
      <button fxHide.gt-sm type="submit" mat-button class="text-upper" color="primary">save</button>
      <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button type="button" (click)="delete()" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>

    </div>
    <!--<div *ngIf="editMode" class="pull-right">
      <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button type="button" (click)="delete()" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>-->


    <!--<h2 class="mat-h2">Edit Service</h2>-->

    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="start stretch" class="form-content">

        <mat-form-field class="full-width">
          <input matInput placeholder="Name" formControlName="name" type="text">
          <mat-error>Name is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select class="full-width" formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category.id">
              <mat-icon svgIcon="{{category.icon}}" class="align-middle"></mat-icon>
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </mat-card-content>

    <mat-card-footer class="form-card-footer" fxHide.lt-md>
      <button type="button" mat-button class="text-upper" (click)="cancel()">Cancel</button>
      <button type="submit" mat-button [disabled]="!form.valid || form.pristine" class="text-upper" color="primary">Save</button>
    </mat-card-footer>

  </div>
</form>
