@import "../../../../media-breakpoints";
:host {

  .mat-dialog-content {
    @media(max-width: $sm) {
      max-height: none;
      height: 100%;
    }
  }

  .mat-dialog-actions {
    background-color: #eee;
    margin-top: 24px;
    margin-left: -24px;
    margin-right: -24px;
  }

  .field-row {

    &.align-center {
      align-items: center;

      .field-label {
        display: none;
      }
    }

    .field-label {
      color: rgba(0, 0, 0, 0.54);
      padding: 1px 0;
    }

    .field-icon {
      opacity: 0.54;

      &.adjust {
        margin-top: 1.1rem;
      }
    }
  }
}
