<form fxFlexFill fxLayout="column" fxLayoutAlign="start stretch" class="mat-typography" [formGroup]="contactForm" (ngSubmit)="save(contactForm.value)">
  <h2 mat-dialog-title>Business Contact</h2>
  <mat-dialog-content>

    <div fxLayout="column" fxLayoutGap="1rem">
      <div class="field-row align-center" fxLayout="row" fxLayoutGap="1rem">
        <mat-icon class="field-icon">phone</mat-icon>

        <mat-form-field fxFlex>
          <input matInput type="tel" id="phone" formControlName="phone" placeholder="Phone">
          <mat-error *ngIf="phone.errors">
            Please enter a valid phone number
          </mat-error>
          <mat-hint>
            eg: 340 123 4444
          </mat-hint>
          <button mat-button *ngIf="phone.value" matSuffix mat-icon-button aria-label="Clear" tabindex="-1" (click)="phone=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="field-row align-center" fxLayout="row" fxLayoutGap="1rem">
        <mat-icon class="field-icon">email</mat-icon>

        <mat-form-field fxFlex>
          <input matInput type="email" id="email" formControlName="email" placeholder="Email">
          <mat-hint>
            eg: info@mycompany.com
          </mat-hint>
          <mat-error *ngIf="email.errors">
            Please enter a valid email address
          </mat-error>
          <button mat-button *ngIf="email.value" matSuffix mat-icon-button aria-label="Clear" tabindex="-1" (click)="email=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="field-row" fxLayout="row" fxLayoutGap="1rem">
        <mat-icon class="field-icon adjust">public</mat-icon>

        <div fxFlex fxLayout="column" fxLayoutGap="1rem">
          <mat-form-field class="full-width">
            <input matInput type="url" id="website" formControlName="website" placeholder="Website">
            <mat-hint>
              http://mycompanywebsite.com
            </mat-hint>
            <mat-error *ngIf="website.errors">
              Please enter a valid website
            </mat-error>
            <button mat-button *ngIf="website.value" matSuffix mat-icon-button aria-label="Clear" tabindex="-1" (click)="website=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <div formArrayName="social">
            <div fxLayout="row" fxLayoutGap="0.5rem" *ngFor="let url of social.controls; let i=index;">
              <mat-form-field class="full-width">
                <input matInput type="url" pattern="https?://.+" id="social{{i}}" [formControlName]="i" placeholder="Social media url">
                <mat-hint>
                  https://facebook.com/mycompany
                </mat-hint>
                <mat-error *ngIf="url.errors">
                  Please enter a valid url
                </mat-error>
              </mat-form-field>

              <button type="button" mat-icon-button style="align-self: center;" *ngIf="i>0" (click)="removeSocial(i)">
                <mat-icon aria-label="remove social media url">close</mat-icon>
              </button>
            </div>
          </div>

          <div class="text-right"><button type="button" (click)="addSocial()" mat-button class="mat-body-2 text-upper">Add URL</button></div>

        </div>
      </div>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-button class="text-upper" (click)="cancel()">Cancel</button>
    <button type="submit" mat-button [disabled]="!contactForm.valid || contactForm.pristine" class="text-upper" color="primary">Save</button>
  </mat-dialog-actions>
</form>
