:host {
  min-width: 720px;
  .field-row {

    &.align-center {
      align-items: center;
    }

    .field-label {

    }

    .field-icon {
      opacity: 0.54;

      &.adjust {
        margin-top: 0.8rem;
      }
    }

    .align-center {
      align-items: center;
    }

    .hour-row {
      min-height: 54px;

      .hours-select {
        width: 120px;
      }

      .hours-add, .hours-remove {
        align-self: flex-end;
      }

      .hours-split {
        align-self: center;
        color: rgba(0, 0, 0, 0.54);
      }
    }

    //.mat-slide-toggle {
    //  flex-grow: 1;
    //}
  }


}
