<form fxFlexFill fxLayout="column" fxLayoutAlign="start stretch" class="mat-typography" novalidate [formGroup]="hoursForm" (ngSubmit)="save(hoursForm.value)">
  <h2 mat-dialog-title>Business Opening Hours</h2>
  <mat-dialog-content>
      <div fxLayout="row" fxLayoutGap="1rem" class="field-row">
        <mat-icon class="field-icon adjust">access_time</mat-icon>

        <div fxFlex fxLayout="column" formGroupName="openingHours">
          <div fxLayout="row" fxLayoutWrap formArrayName="sunday" fxLayoutGap="1rem" class="hour-row" [style.align-items]="(sundayHours.length > 1) ? 'flex-start': 'center'">
            <span class="field-label">Sunday</span>
            <mat-slide-toggle (change)="toggleHours($event, sundayHours)"
                              color="primary" [checked]="sundayHours.length > 0">{{(sundayHours.length > 0) ? 'Open' : 'Closed'}}</mat-slide-toggle>

            <div fxLayout="column">
                <div fxLayout="row" *ngFor="let ctrl of sundayHours.controls; let i=index;" [formGroupName]="i" fxLayoutAlign="space-between center" fxLayoutGap="12px">
                  <mat-form-field class="hours-select">
                    <mat-select placeholder="Opens at" formControlName="opens" (change)="hourSelected($event)">
                      <mat-option value="24hours"><b>24 hours</b></mat-option>
                      <mat-divider></mat-divider>
                      <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <span class="hours-split">—</span>

                  <mat-form-field class="hours-select">
                    <mat-select placeholder="Closes at" formControlName="closes">
                      <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <button type="button" mat-icon-button (click)="removeHour(i, sundayHours)" [style.align-self]="(sundayHours.length > 1) ? 'flex-end': 'center'">
                    <mat-icon aria-label="remove sunday opening hours">close</mat-icon>
                  </button>
                </div>
              </div>


            <button type="button" mat-button color="primary" class="text-upper" [style.align-self]="(sundayHours.length > 1) ? 'flex-end': 'center'"
                    *ngIf="sundayHours.valid" (click)="addHour(sundayHours)">add hours</button>

          </div>

          <div fxLayout="row" fxLayoutWrap formArrayName="monday" fxLayoutGap="1rem" class="hour-row" [style.align-items]="(mondayHours.length > 1) ? 'flex-start': 'center'">
            <span class="field-label">monday</span>
            <mat-slide-toggle (change)="toggleHours($event, mondayHours)"
                              color="primary" [checked]="mondayHours.length > 0">{{(mondayHours.length > 0) ? 'Open' : 'Closed'}}</mat-slide-toggle>

            <div fxLayout="column">
              <div fxLayout="row" *ngFor="let ctrl of mondayHours.controls; let i=index;" [formGroupName]="i" fxLayoutAlign="space-between center" fxLayoutGap="12px">
                <mat-form-field class="hours-select">
                  <mat-select placeholder="Opens at" formControlName="opens" (change)="hourSelected($event)">
                    <mat-option value="24hours"><b>24 hours</b></mat-option>
                    <mat-divider></mat-divider>
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <span class="hours-split">—</span>

                <mat-form-field class="hours-select">
                  <mat-select placeholder="Closes at" formControlName="closes">
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <button type="button" mat-icon-button (click)="removeHour(i, mondayHours)" [style.align-self]="(mondayHours.length > 1) ? 'flex-end': 'center'">
                  <mat-icon aria-label="remove monday opening hours">close</mat-icon>
                </button>
              </div>
            </div>


            <button type="button" mat-button color="primary" class="text-upper" [style.align-self]="(mondayHours.length > 1) ? 'flex-end': 'center'"
                    *ngIf="mondayHours.valid" (click)="addHour(mondayHours)">add hours</button>

          </div>

          <div fxLayout="row" fxLayoutWrap formArrayName="tuesday" fxLayoutGap="1rem" class="hour-row" [style.align-items]="(tuesdayHours.length > 1) ? 'flex-start': 'center'">
            <span class="field-label">tuesday</span>
            <mat-slide-toggle (change)="toggleHours($event, tuesdayHours)"
                              color="primary" [checked]="tuesdayHours.length > 0">{{(tuesdayHours.length > 0) ? 'Open' : 'Closed'}}</mat-slide-toggle>

            <div fxLayout="column">
              <div fxLayout="row" *ngFor="let ctrl of tuesdayHours.controls; let i=index;" [formGroupName]="i" fxLayoutAlign="space-between center" fxLayoutGap="12px">
                <mat-form-field class="hours-select">
                  <mat-select placeholder="Opens at" formControlName="opens" (change)="hourSelected($event)">
                    <mat-option value="24hours"><b>24 hours</b></mat-option>
                    <mat-divider></mat-divider>
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <span class="hours-split">—</span>

                <mat-form-field class="hours-select">
                  <mat-select placeholder="Closes at" formControlName="closes">
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <button type="button" mat-icon-button (click)="removeHour(i, tuesdayHours)" [style.align-self]="(tuesdayHours.length > 1) ? 'flex-end': 'center'">
                  <mat-icon aria-label="remove tuesday opening hours">close</mat-icon>
                </button>
              </div>
            </div>


            <button type="button" mat-button color="primary" class="text-upper" [style.align-self]="(tuesdayHours.length > 1) ? 'flex-end': 'center'"
                    *ngIf="tuesdayHours.valid" (click)="addHour(tuesdayHours)">add hours</button>

          </div>

          <div fxLayout="row" fxLayoutWrap formArrayName="wednesday" fxLayoutGap="1rem" class="hour-row" [style.align-items]="(wednesdayHours.length > 1) ? 'flex-start': 'center'">
            <span class="field-label">wednesday</span>
            <mat-slide-toggle (change)="toggleHours($event, wednesdayHours)"
                              color="primary" [checked]="wednesdayHours.length > 0">{{(wednesdayHours.length > 0) ? 'Open' : 'Closed'}}</mat-slide-toggle>

            <div fxLayout="column">
              <div fxLayout="row" *ngFor="let ctrl of wednesdayHours.controls; let i=index;" [formGroupName]="i" fxLayoutAlign="space-between center" fxLayoutGap="12px">
                <mat-form-field class="hours-select">
                  <mat-select placeholder="Opens at" formControlName="opens" (change)="hourSelected($event)">
                    <mat-option value="24hours"><b>24 hours</b></mat-option>
                    <mat-divider></mat-divider>
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <span class="hours-split">—</span>

                <mat-form-field class="hours-select">
                  <mat-select placeholder="Closes at" formControlName="closes">
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <button type="button" mat-icon-button (click)="removeHour(i, wednesdayHours)" [style.align-self]="(wednesdayHours.length > 1) ? 'flex-end': 'center'">
                  <mat-icon aria-label="remove wednesday opening hours">close</mat-icon>
                </button>
              </div>
            </div>


            <button type="button" mat-button color="primary" class="text-upper" [style.align-self]="(wednesdayHours.length > 1) ? 'flex-end': 'center'"
                    *ngIf="wednesdayHours.valid" (click)="addHour(wednesdayHours)">add hours</button>

          </div>

          <div fxLayout="row" fxLayoutWrap formArrayName="thursday" fxLayoutGap="1rem" class="hour-row" [style.align-items]="(thursdayHours.length > 1) ? 'flex-start': 'center'">
            <span class="field-label">thursday</span>
            <mat-slide-toggle (change)="toggleHours($event, thursdayHours)"
                              color="primary" [checked]="thursdayHours.length > 0">{{(thursdayHours.length > 0) ? 'Open' : 'Closed'}}</mat-slide-toggle>

            <div fxLayout="column">
              <div fxLayout="row" *ngFor="let ctrl of thursdayHours.controls; let i=index;" [formGroupName]="i" fxLayoutAlign="space-between center" fxLayoutGap="12px">
                <mat-form-field class="hours-select">
                  <mat-select placeholder="Opens at" formControlName="opens" (change)="hourSelected($event)">
                    <mat-option value="24hours"><b>24 hours</b></mat-option>
                    <mat-divider></mat-divider>
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <span class="hours-split">—</span>

                <mat-form-field class="hours-select">
                  <mat-select placeholder="Closes at" formControlName="closes">
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <button type="button" mat-icon-button (click)="removeHour(i, thursdayHours)" [style.align-self]="(thursdayHours.length > 1) ? 'flex-end': 'center'">
                  <mat-icon aria-label="remove thursday opening hours">close</mat-icon>
                </button>
              </div>
            </div>


            <button type="button" mat-button color="primary" class="text-upper" [style.align-self]="(thursdayHours.length > 1) ? 'flex-end': 'center'"
                    *ngIf="thursdayHours.valid" (click)="addHour(thursdayHours)">add hours</button>

          </div>

          <div fxLayout="row" fxLayoutWrap formArrayName="friday" fxLayoutGap="1rem" class="hour-row" [style.align-items]="(fridayHours.length > 1) ? 'flex-start': 'center'">
            <span class="field-label">friday</span>
            <mat-slide-toggle (change)="toggleHours($event, fridayHours)"
                              color="primary" [checked]="fridayHours.length > 0">{{(fridayHours.length > 0) ? 'Open' : 'Closed'}}</mat-slide-toggle>

            <div fxLayout="column">
              <div fxLayout="row" *ngFor="let ctrl of fridayHours.controls; let i=index;" [formGroupName]="i" fxLayoutAlign="space-between center" fxLayoutGap="12px">
                <mat-form-field class="hours-select">
                  <mat-select placeholder="Opens at" formControlName="opens" (change)="hourSelected($event)">
                    <mat-option value="24hours"><b>24 hours</b></mat-option>
                    <mat-divider></mat-divider>
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <span class="hours-split">—</span>

                <mat-form-field class="hours-select">
                  <mat-select placeholder="Closes at" formControlName="closes">
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <button type="button" mat-icon-button (click)="removeHour(i, fridayHours)" [style.align-self]="(fridayHours.length > 1) ? 'flex-end': 'center'">
                  <mat-icon aria-label="remove friday opening hours">close</mat-icon>
                </button>
              </div>
            </div>


            <button type="button" mat-button color="primary" class="text-upper" [style.align-self]="(fridayHours.length > 1) ? 'flex-end': 'center'"
                    *ngIf="fridayHours.valid" (click)="addHour(fridayHours)">add hours</button>

          </div>

          <div fxLayout="row" fxLayoutWrap formArrayName="saturday" fxLayoutGap="1rem" class="hour-row" [style.align-items]="(saturdayHours.length > 1) ? 'flex-start': 'center'">
            <span class="field-label">saturday</span>
            <mat-slide-toggle (change)="toggleHours($event, saturdayHours)"
                              color="primary" [checked]="saturdayHours.length > 0">{{(saturdayHours.length > 0) ? 'Open' : 'Closed'}}</mat-slide-toggle>

            <div fxLayout="column">
              <div fxLayout="row" *ngFor="let ctrl of saturdayHours.controls; let i=index;" [formGroupName]="i" fxLayoutAlign="space-between center" fxLayoutGap="12px">
                <mat-form-field class="hours-select">
                  <mat-select placeholder="Opens at" formControlName="opens" (change)="hourSelected($event)">
                    <mat-option value="24hours"><b>24 hours</b></mat-option>
                    <mat-divider></mat-divider>
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <span class="hours-split">—</span>

                <mat-form-field class="hours-select">
                  <mat-select placeholder="Closes at" formControlName="closes">
                    <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.text }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <button type="button" mat-icon-button (click)="removeHour(i, saturdayHours)" [style.align-self]="(saturdayHours.length > 1) ? 'flex-end': 'center'">
                  <mat-icon aria-label="remove saturday opening hours">close</mat-icon>
                </button>
              </div>
            </div>


            <button type="button" mat-button color="primary" class="text-upper" [style.align-self]="(saturdayHours.length > 1) ? 'flex-end': 'center'"
                    *ngIf="saturdayHours.valid" (click)="addHour(saturdayHours)">add hours</button>

          </div>
        </div>
      </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-button class="text-upper" (click)="cancel()">Cancel</button>
    <button type="submit" mat-button [disabled]="!hoursForm.valid" class="text-upper" color="primary">Save</button>
  </mat-dialog-actions>

</form>
