@import "../../../../media-breakpoints";

:host {

  .mat-dialog-content {
    @media(max-width: $sm) {
      max-height: none;
      height: 100%;
    }
  }

  .mat-dialog-actions {
    background-color: #eee;
    margin-top: 24px;
    margin-left: -24px;
    margin-right: -24px;
  }

  .field-row {

    &.align-center {
      align-items: center;
    }

    .field-label {
      text-transform: uppercase;
      font-weight: 500;
      min-width: 88px;
    }

    .field-icon {
      opacity: 0.54;

      &.adjust {
        margin-top: 0.8rem;
      }
    }

    .align-center {
      align-items: center;
    }

    .hour-row {
      min-height: 54px;

      .hours-select {
        max-width: 90px;
      }

      .hours-add, .hours-remove {
        align-self: flex-end;
      }

      .hours-split {
        align-self: center;
        color: rgba(0, 0, 0, 0.32);
      }
    }

  }


}
