$primary-color-dark:  #0097A7;
$primary-color-light: #B2EBF2;
$primary-color:       #00BCD4;
//$primary-color-500:   #00BCD4;

//$accent-color-dark:   #FFB300;
//$accent-color-light:  #FFE57F;
//$accent-color:        #FFD740;

$accent-color-dark:   #F50057;
$accent-color-light:  #FF80AB;
$accent-color:        #FF4081;

$primary-text-color:  #b2ebf2;
$dark-text-color: rgba(0,0,0,.87);

$body-background: #eee;//rgb(250, 250, 250);
$background-light: rgba(0,0,0,.06);
$divider-color: rgba(0, 0, 0, 0.12);

$text-muted: #636c72;
$text-gray: #999;

$facebook-theme: #3b5998;
$twitter-theme: #55acee;
$google-theme: #dd4b39;
$youtube-theme: #bb0000;
