@import './media-breakpoints';
:host {

  form {
    margin: 30px 0 20px;

    &.form-card {
      transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
      display: block;
      position: relative;
      border-radius: 2px;
      background: white;
      color: rgba(0, 0, 0, 0.87);
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 1px 5px 0 rgba(0, 0, 0, 0.12);

      @media(max-width: $sm) {
        box-shadow: none;
        height: 100%;
      }

      .form-header, .form-content {
        padding: 0 24px;
      }

      .form-header {
        padding-top: 24px;

        .form-title {

        }
      }

      .form-content {
        margin: 24px 0;
      }

      .form-actions {
        padding: 16px;

        &.form-actions-light {
          @media(min-width: $gt-sm) {
            //background-color: rgba(0, 0, 0, .04);
            border-top: 1px solid #dbdbdb;
          }
        }

        &.align-end {
          text-align: right;
        }
      }
    }
  }
}
