<form autocomplete="off" novalidate (ngSubmit)="onSubmit(searchInput.value)" #searchForm="ngForm" fxFlex.md="712px" fxFlex.gt-md="872px"
      class="full-width">
  <div class="search">
    <div class="search-wrapper" tabindex="0">
      <mat-icon fxHide.xs class="icon icon-search">search</mat-icon>
      <input class="search" ilrSearchFocus
             type="text" #searchInput
             aria-label="Business Search"
            (keyup)="search(searchInput.value)"
            [matAutocomplete]="autocomplete"
             name="searchInput"
            placeholder="Search businesses or services">
      <button type="button" fxHide.xs mat-icon-button (click)="searchInput.value=''" *ngIf="searchInput.value">
        <mat-icon class="icon icon-clear">cancel</mat-icon>
      </button>
    </div>

    <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn">

      <div fxLayout="row" *ngFor="let option of keywords | async | searchOptions">
        <mat-option fxFlex [value]="option">
          <mat-icon *ngIf="option.imgSrc === 'icon'; else imgUrl" class="align-middle autocomplete-icon">{{option.image}}</mat-icon>

          <ng-template #imgUrl>
            <img [src]="option.image" style="margin-right: 16px;" class="align-middle autocomplete-icon" alt="business logo">
          </ng-template>
          {{ option.text }}
        </mat-option>

        <button mat-icon-button fxFlexAlign="center" class="pull-right" *ngIf="!option.index" (click)="removeItemFromHistory(option)">
          <mat-icon aria-label="Remove from search history">close</mat-icon>
        </button>
      </div>

    </mat-autocomplete>
  </div>
</form>
