<div class="container" fxLayout="column" fxFlexFill>

  <td-message
    *ngIf="auth.isAuthenticated() && !user.verified"
    sublabel="An email containing verification instructions was sent to {{ user.email }}" color="accent" icon="info">
  </td-message>

  <mat-toolbar class="mat-elevation-z2">
    <a routerLink="/" class="app-logo"><mat-icon  svgIcon="islandir-dark"></mat-icon></a>

    <nav class="nav-tab" mat-tab-nav-bar color="primary" fxHide.lt-md>
      <a mat-tab-link
         routerLink="/{{country?.code}}"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive"
         class="text-upper"
         [routerLinkActiveOptions]="{ exact: true }">
        home
      </a>

      <a mat-tab-link
         routerLink="/business-owners"
         routerLinkActive #brla="routerLinkActive"
         [active]="brla.isActive"
         class="text-upper"
         [routerLinkActiveOptions]="{ exact: true }">
        business owners
      </a>
    </nav>

    <span fxFlex></span>
    <ilr-user-nav></ilr-user-nav>
  </mat-toolbar>

  <div fxFlex class="content bg-theme {{country.code}}-theme" [ngStyle]="themeStyles" [ngClass]="{'no-theme': !themeStyles }">
    <div fxFlex fxLayout="row" fxLayoutAlign="center start">

      <div fxLayout="column" fxLayoutAlign="start stretch" style="height: 100%;">
        <h2 class="mat-headline text-center text-caps tag-line">find reliable services in {{country.name}}</h2>

        <div class="search-container" fxLayout="row" fxLayoutAlign="center center">
          <ilr-search fxFlex.xs="95" fxFlex.sm="90" fxFlex.md="712px" fxFlex.gt-md="872px"></ilr-search>
        </div>

        <div class="services-container" fxLayout="row" fxLayoutAlign="center start">
          <mat-chip-list>
            <mat-chip class="topic-tag"
                      color="primary"
                      selected="true"
                      (click)="tagSelected(tag)"
                      *ngFor="let tag of theme?.topics[0]?.tags">{{tag}}
            </mat-chip>
          </mat-chip-list>
        </div>

        <span fxHide.lt-md class="fill-space"></span>

        <div class="card mat-elevation-z1 promote" fxHide.lt-md fxLayout="row" fxLayoutGap="1rem" fxFlexAlign="center">
          <div class="img-wrapper" fxFlexAlign="center">
            <img src="../../assets/images/market.png">
          </div>
          <div fxFlex>
            <p class="mat-body-1">
              Grow your business today! Bring more customers to your door and turn them into regulars.
            </p>
            <a routerLink="/business-owners"
               class="text-upper mat-caption"
               style="color: #F50057; font-weight: 500; display: block; margin-top: -4px;">
              get started here
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer">
    <div class="categories mat-body-2" fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <i class="align-middle flag flag-{{country?.code}}" style="margin-right: 4px;"></i>
        <span class="text-caps">{{country.name}}</span>
      </div>
      <div class="terms-list" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem" fxLayoutGap.gt-xs="1rem">
        <a routerLink="/terms-of-service">Terms</a>
        <a routerLink="/privacy-policy">Privacy</a>
      </div>
    </div>
  </div>

  <div class="footer footer-sm" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutGap.gt-xs="1rem">
      <a routerLink="/business-owners">Business</a>
      <a routerLink="/advertise-with-us">Advertising</a>
    </div>
    <div class="mat-caption">© Copyright {{currentYear}}. All rights reserved.&nbsp;&nbsp;&nbsp;<a fxHide.xs class="text-muted" href="https://brackio.com" target="_blank">Built by brackio.com</a></div>
  </div>

</div>

<mat-card *ngIf="showRedirectPanel" class="country-redirect mat-elevation-z9">
  <mat-card-content>
    <h4 class="mat-subheading-2">Redirect to islandir for {{redirectCountry.name}}</h4>
    <h4 class="mat-subheading-1 text-muted">We've detected you are located in {{redirectCountry.name}}. Do you want to redirect to islandir.com/{{redirectCountry?.code}}?</h4>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions align="end">
    <a routerLink="{{'/' + redirectCountry?.code}}" (click)="showRedirectPanel = !showRedirectPanel"
       mat-button color="primary" class="text-upper">redirect</a>

    <button type="button" (click)="showRedirectPanel = !showRedirectPanel"
       mat-button class="text-upper text-muted">no thanks</button>
  </mat-card-actions>
</mat-card>


<!--
<td-message
  *ngIf="auth.isAuthenticated() && !user.verified"
  sublabel="An email containing verification instructions was sent to {{ user.email }}" color="accent" icon="info">
</td-message>

<ilr-navbar-home></ilr-navbar-home>

<div class="hero">
  &lt;!&ndash;<div class="hero-header" fxLayout="row" fxLayoutAlign="space-between center">&ndash;&gt;
    &lt;!&ndash;<div fxHide.xs>&ndash;&gt;
      &lt;!&ndash;<i class="align-middle flag flag-{{country.code}}"></i>&ndash;&gt;
      &lt;!&ndash;<a mat-button class="text-caps" routerLink="/">business owners</a>&ndash;&gt;
    &lt;!&ndash;</div>&ndash;&gt;
    &lt;!&ndash;<a routerLink="/"><mat-icon class="hero-logo" svgIcon="islandir-light"></mat-icon></a>&ndash;&gt;

  &lt;!&ndash;</div>&ndash;&gt;

  <div class="hero-caption">
    &lt;!&ndash;<h1 fxHide.lt-md class="mat-display-2">Explore your <span class="text-highlight">island</span> 'mon</h1>
    <h3 class="mat-subheading-2">Find a local doctor, carpenter or mechanic in

      <mat-form-field class="app-country" color="accent">
        <mat-select [(ngModel)]="country.code" (change)="changeCountry(country)" aria-label="Select Country">
          <mat-option *ngFor="let country of countries" [value]="country.code" >{{ country.name }}</mat-option>
        </mat-select>
      </mat-form-field>

    </h3>&ndash;&gt;
    <a routerLink="/"><mat-icon class="hero-logo" svgIcon="islandir-light"></mat-icon></a>
  </div>

  <div class="hero-search">
    <ilr-search></ilr-search>
  </div>
</div>

&lt;!&ndash;<div class="section" fxHide fxShow.gt-sm="true">&ndash;&gt;
  &lt;!&ndash;<div fxLayout="row" fxLayoutAlign.gt-xs="center center">&ndash;&gt;
    &lt;!&ndash;<div class="instructions rounded-corners"&ndash;&gt;
         &lt;!&ndash;fxFlex.gt-md="67rem"&ndash;&gt;
         &lt;!&ndash;fxLayout="row"&ndash;&gt;
         &lt;!&ndash;fxLayoutAlign="space-around center">&ndash;&gt;
      &lt;!&ndash;<div fxLayout.gt-sm="column" fxFlex.gt-sm="16rem" fxLayoutAlign.gt-sm="space-between center">&ndash;&gt;
        &lt;!&ndash;<mat-icon svgIcon="list-business"></mat-icon>&ndash;&gt;
        &lt;!&ndash;<p class="instructions-summary mat-body-1">&ndash;&gt;
          &lt;!&ndash;Add your business to our catalog - add pictures, your company’s hours, contact info, and more...&ndash;&gt;
        &lt;!&ndash;</p>&ndash;&gt;
      &lt;!&ndash;</div>&ndash;&gt;
      &lt;!&ndash;<div fxLayout.gt-sm="column" fxFlex.gt-sm="16rem" fxLayoutAlign.gt-sm="space-between center">&ndash;&gt;
        &lt;!&ndash;<mat-icon svgIcon="chat"></mat-icon>&ndash;&gt;
        &lt;!&ndash;<p class="instructions-summary mat-body-1">&ndash;&gt;
          &lt;!&ndash;Be the first to know when people are talking about your business, respond to them as the business owner.&ndash;&gt;
        &lt;!&ndash;</p>&ndash;&gt;
      &lt;!&ndash;</div>&ndash;&gt;
      &lt;!&ndash;<div fxLayout.gt-sm="column" fxFlex.gt-sm="16rem" fxLayoutAlign.gt-sm="space-between center">&ndash;&gt;
        &lt;!&ndash;<mat-icon svgIcon="analytics"></mat-icon>&ndash;&gt;
        &lt;!&ndash;<p class="instructions-summary mat-body-1">&ndash;&gt;
           &lt;!&ndash;See how many times customers visit your business' page, and watch your business grow.&ndash;&gt;
        &lt;!&ndash;</p>&ndash;&gt;
      &lt;!&ndash;</div>&ndash;&gt;
    &lt;!&ndash;</div>&ndash;&gt;
  &lt;!&ndash;</div>&ndash;&gt;
&lt;!&ndash;</div>&ndash;&gt;

&lt;!&ndash;
<div class="section">
  <div fxLayout="row" fxLayoutAlign.gt-xs="center center">
    <div class="topics" fxFlex.gt-md="68rem" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
      <mat-card *ngFor="let topic of theme?.topics" class="text-center" fxFlex.xs="45%" fxFlex.gt-xs="22%">
      </mat-card>

      <mat-card *ngFor="let category of theme?.categories" class="text-center" fxFlex.xs="45%" fxFlex.gt-xs="22%">
        <mat-icon class="fill-{{category.color}} card-icon" svgIcon="assets:{{category.icon}}"></mat-icon>
        <mat-card-title class="mat-title text-truncate">{{category.name}}</mat-card-title>
      </mat-card>

      <mat-card class="text-center" fxFlex.xs="45%" fxFlex.gt-xs="22%">
        &lt;!&ndash;<mat-icon class="fill-amber-700 card-icon" svgIcon="assets:more-dots"></mat-icon>&ndash;&gt;
        More Categories
      </mat-card>
    </div>
  </div>
</div>
&ndash;&gt;

<div class="section-sign-up">
  <h1 class="mat-headline">Your business, in a good place.</h1>
  <h3 class="mat-subheading-2">Grow your business today! Bring more customers to your door and turn them into regulars.</h3>

  <a routerLink="/" mat-raised-button color="primary" class="oval-corners text-caps btn-sign-up">
    learn more and sign up
  </a>

    &lt;!&ndash;<div class="options list-business rounded-corners">&ndash;&gt;
        &lt;!&ndash;<div class="options-content">&ndash;&gt;
          &lt;!&ndash;<h1 class="mat-title options-title">List your business</h1>&ndash;&gt;
          &lt;!&ndash;<p class="mat-body-1">Grow your business today! Bring more customers to your door and turn them into regulars. Update your business details including opening hours, payments options and more.</p>&ndash;&gt;
        &lt;!&ndash;</div>&ndash;&gt;
      &lt;!&ndash;</div>&ndash;&gt;

      &lt;!&ndash;<div class="options claim-business rounded-corners">&ndash;&gt;
        &lt;!&ndash;<div class="options-content">&ndash;&gt;
          &lt;!&ndash;<h1 class="mat-title options-title">Claim your business</h1>&ndash;&gt;
          &lt;!&ndash;<p class="mat-body-1">With thousands of local businesses in our catalog your business may already be listed. Claim ownership of your business and receive live updates on customer's reviews and more.</p>&ndash;&gt;
        &lt;!&ndash;</div>&ndash;&gt;
      &lt;!&ndash;</div>&ndash;&gt;
    &lt;!&ndash;</div>&ndash;&gt;
</div>

<hr class="faded">

&lt;!&ndash;<div class="section-featured" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">&ndash;&gt;
  &lt;!&ndash;<div *ngFor="let category of featuredCategories">&ndash;&gt;
    &lt;!&ndash;<button mat-icon-button >&ndash;&gt;
      &lt;!&ndash;<mat-icon aria-label="featured" svgIcon="{{category.icon}}"></mat-icon>&ndash;&gt;
    &lt;!&ndash;</button>&ndash;&gt;
  &lt;!&ndash;</div>&ndash;&gt;
&lt;!&ndash;</div>&ndash;&gt;
-->
