<form novalidate fxFlex="100" fxFlex.gt-sm="40rem" [formGroup]="emailForm" (ngSubmit)="save(emailForm.value)">
  <h2 matDialogTitle>Business email</h2>
  <mat-dialog-content>

    <div class="field-row align-center" fxLayout="row" fxLayoutGap="1rem">
      <mat-icon class="field-icon">email</mat-icon>

      <mat-form-field fxFlex>
        <input matInput type="email" id="email" formControlName="email" placeholder="Email">
        <mat-error *ngIf="email.errors">
          Please enter a valid email address
        </mat-error>
        <button mat-button *ngIf="email.value" matSuffix mat-icon-button aria-label="Clear" tabindex="-1" (click)="email=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-button class="text-upper" (click)="cancel()">Cancel</button>
    <button type="submit" mat-button [disabled]="!emailForm.valid || emailForm.pristine" class="text-upper" color="primary">Save</button>
  </mat-dialog-actions>
</form>
